# find_best_date

A notebook to find the best date for presentation.

In [5]:
# Importing the libraries
import pandas as pd

In [8]:
# Get the data
data = pd.read_csv('../data/final_predictions.csv')
data.head()

   Zone  Month  Day    Year  Hour  Total Demand  Predictions
0   1.0    6.0  1.0  2022.0   0.0           0.0     4.043551
1   1.0    6.0  1.0  2022.0   1.0           0.0     4.043551
2   1.0    6.0  1.0  2022.0   2.0           0.0     4.043551
3   1.0    6.0  1.0  2022.0   3.0           0.0     4.043551
4   1.0    6.0  1.0  2022.0   4.0           1.0     4.043551

In [9]:
# Finding the best zone
day_and_predictions = data[['Day','Total Demand','Predictions']]
day_and_predictions

         Day  Total Demand  Predictions
0        1.0           0.0     4.043551
1        1.0           0.0     4.043551
2        1.0           0.0     4.043551
3        1.0           0.0     4.043551
4        1.0           1.0     4.043551
...      ...           ...          ...
196929  30.0         131.0          NaN
196930  30.0         108.0          NaN
196931  30.0         111.0          NaN
196932  30.0         109.0          NaN
196933  30.0          69.0          NaN

[196934 rows x 3 columns]

In [10]:
day_and_predictions.groupby(by='Day').mean()

      Total Demand  Predictions
Day
1.0      19.063530    18.952477
2.0      19.624525    18.955126
3.0      19.525032    18.561116
4.0      19.203739    18.085257
5.0      15.970374    18.558867
6.0      17.577155    18.567946
7.0      19.942174    18.126507
8.0      20.248099    18.711777
9.0      20.804341    18.603138
10.0     20.153200    18.252086
11.0     19.046420    17.916846
12.0     15.508872    18.013858
13.0     18.526774    18.713612
14.0     19.628327    17.905376
15.0     20.354563    17.264151
16.0     20.223542    17.434867
17.0     19.629436    17.814592
18.0     18.156210    17.239308
19.0     15.444392    18.954794
20.0     15.767269    18.412200
21.0     19.028359    18.350209
22.0     19.308777    18.236051
23.0     20.404943    17.724015
24.0     19.513783    19.203315
25.0     18.789132    18.634618
26.0     14.558302    17.914944
27.0     16.371990    18.221987
28.0     17.835551    18.606228
29.0     18.344106    18.660194
30.0     17.874366    18.690378

In [11]:
# Finding the best zone
day_and_predictions = data[['Zone','Total Demand','Predictions']]
day_and_predictions.groupby(by='Zone').mean()

       Total Demand  Predictions
Zone
1.0        1.426389     7.048284
2.0        0.004167     7.054506
3.0        0.055556     7.074659
4.0        5.926389     7.038515
5.0        0.080556     7.028725
...             ...          ...
259.0      0.106944          NaN
260.0      1.090278          NaN
261.0     26.222222          NaN
262.0     67.054167          NaN
263.0    101.706944          NaN

[263 rows x 2 columns]